<h1>Uncategorized books</h1>
<div class="w-75">
<p>Total amount of hours: <%=@amount_external%> </p>
<%= render "books", books: @externals %>
<%= link_to "Add", new_book_path, class: "btn bg-green px-5 py-2 w-100" %>
</div>
